/************************************************************/
/* BASIC */

/************************************************************/

/************************************************************/
/* LAYOUT */

/************************************************************/

/************************************************************/
/* HEADER */
header {
    display: inline-block;
    width: 100%;
    height: 60px;
  }
    .logo {
        display: inline-block;
        float: left;
        width: 100%;
        size: 25px;
        }
        img{
            display: inline;
            width: 17%;
            font-size: 25px;
        }
    nav {
        display: inline-block;
        float: center;
        margin-top: 20px;
        margin-left: 355px;
    }
        a {
            display: inline-block;
            margin-left: 30px;
            text-decoration: none;
            font-size: 18px;
            line-height: 30px;
            color: #9E9E9E;
        }
  
/************************************************************/

/************************************************************/
/* HERO */
.bg-primary {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}
/************************************************************/


/************************************************************/
/* ABOUT ME */

.container-about {
    display: inline-block;
    width: 100%;
    padding: 100px;
    position: relative;
    background: yellow;
}
.img-about {
    display: inline-block;
    float: left;
    height: 800px;
    position: absolute;

.title {
    display: inline-block;
    float: right;
}    


}


/************************************************************/

/************************************************************/
/* SKILLS */

/************************************************************/

/************************************************************/
/* My Resume */

/************************************************************/

/************************************************************/
/* Counter secion */

/************************************************************/

/************************************************************/
/* My Services*/

/************************************************************/

/************************************************************/
/*My Portfolio */

/************************************************************/

/************************************************************/
/* TESTIMONIALS */

/************************************************************/

/************************************************************/
/* Blog */

/************************************************************/


/************************************************************/
/* Contact*/

/************************************************************/



/************************************************************/
/* FOOTER */

/************************************************************/
