/************************************************************/
/* BASIC */

/************************************************************/

/************************************************************/
/* LAYOUT */

/************************************************************/

/************************************************************/
/* HEADER */
header {
    display: inline-block;
    width: 100%;
    height: 60px;
  }
    .logo {
        display: inline-block;
        float: left;
        height: 100%;
    }
    nav {
        display: inline-block;
        float: right;
        margin-top: 20px;
    }
        a {
            display: inline-block;
            margin-left: 30px;
            text-decoration: none;
            font-size: 18px;
            line-height: 30px;
            color: #9E9E9E;
        }

  
/************************************************************/

/************************************************************/
/* HERO */
.hero {
    background
    display: inline-block;
    
    
    text-align: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}
    .hero > img {
        display: inline-block;
        margin-bottom: 60px;
        
    }
    .hero > h1 {
        display: inline-block;
        width: 100%;
        margin-bottom: 25px;
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase;
    }
    .hero > p {
        display: inline-block;
        width: 100%;
        margin-bottom: 60px;
        font-size: 20px;
        line-height: 25px;
    }
    .hero > .clock {
        display: inline-block;
        width: 100%;
        margin-bottom: 60px;
    }
    .hero > form {
        display: inline-block;
        width: 90%;
        margin: 0 5% 25px;
/************************************************************/


/************************************************************/
/* ABOUT ME */

/************************************************************/

/************************************************************/
/* SKILLS */

/************************************************************/

/************************************************************/
/* My Resume */

/************************************************************/

/************************************************************/
/* Counter secion */

/************************************************************/

/************************************************************/
/* My Services*/

/************************************************************/

/************************************************************/
/*My Portfolio */

/************************************************************/

/************************************************************/
/* TESTIMONIALS */

/************************************************************/

/************************************************************/
/* Blog */

/************************************************************/


/************************************************************/
/* Contact*/

/************************************************************/



/************************************************************/
/* FOOTER */

/************************************************************/
